<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Remodeler_WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Remodeler__WinForm_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Remodeler_WinForm.Properties.Settings>
            <setting name="ffmpegPath" serializeAs="String">
                <value />
            </setting>
            <setting name="outputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="inputDelete" serializeAs="String">
                <value>False</value>
            </setting>
        </Remodeler_WinForm.Properties.Settings>
        <Remodeler__WinForm_.Properties.Settings>
            <setting name="ffmpegPath" serializeAs="String">
                <value />
            </setting>
        </Remodeler__WinForm_.Properties.Settings>
    </userSettings>
</configuration>